<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>脉讯智能迭代学习系统</title>


    <link rel="stylesheet" href="/static/css/font-icons/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/neon-core.css">
    <link rel="stylesheet" href="/static/css/neon-theme.css">
    <link rel="stylesheet" href="/static/css/neon-forms.css">
    <link rel="stylesheet" href="/static/css/maixun-neon.css">
    <link rel="stylesheet" href="/static/css/study.css">

    <script src="/static/js/jquery-1.11.0.min.js"></script>

    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>
<body class="page-body login-page skin-white">


<div class="page-container horizontal-menu sidebar-collapsed">
    <header class="navbar">
        <div class="container">
            <div class="navbar-inner">
                <div class="navbar-brand">
                    <a href="#"><img src="/static/images/logo_study.png"></a>
                </div>
            </div>
        </div>
    </header>
<div class="login-container">
    
    
    <div class="login-form" id="login-form">
        
        <div class="login-content">


            <form role="form" class="form-horizontal validate" method="post" id="form" action="/accounts/login/"> {% csrf_token %}


                
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-offset-2 control-label">帐号：</label>

                            <div class="col-sm-6">
                               <select class="form-control" name = "username">
                                    <option>超级管理员</option>
                                    <option>普通管理员</option>
                                    <option>操作员</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-2 col-sm-offset-2 control-label">密码：</label>

                            <div class="col-sm-6">
                               <input class="form-control" type="password" name="password" data-validate="required"/>
                            </div>
                        </div>
                
                
                <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2">
                        
                    <button type="submit" class="btn btn-blue btn-block btn-lg">
                        登录
                    </button>
                    </div>
                </div>







            </form>
            
            
        </div>
        
    </div>
    
</div>
        
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <footer class="main">
            Copyright&copy; 2009-2017 Maixun Online
        </footer>
        </div>
    </div>
</div>
</div>

<script src="/static/js/gsap/main-gsap.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/resizeable.js"></script>
<script src="/static/js/neon-custom.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {

      if("{{verify}}" == "0"){
          alert('登陆失败');
      }

    });
</script>
</body>
</html>
