<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>脉讯智能迭代学习系统</title>


    <link rel="stylesheet" href="/static/css/font-icons/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/neon-core.css">
    <link rel="stylesheet" href="/static/css/neon-theme.css">
    <link rel="stylesheet" href="/static/css/neon-forms.css">
    <link rel="stylesheet" href="/static/css/maixun-neon.css">
    <link rel="stylesheet" href="/static/css/btnStyle.css">
    <link rel="stylesheet" href="/static/css/study.css">

    <script src="/static/js/jquery-1.11.0.min.js"></script>

    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>
<body class="page-body page-with-nav">


<div class="page-container horizontal-menu sidebar-collapsed">
    <header class="navbar">
        <div class="container">
            <div class="navbar-inner">
                <div class="navbar-brand">
                    <img src="/static/images/logo_study.png">
                </div>
                <ul class="nav navbar-right pull-right">
                    <li class="user">

                            <img src="/static/images/usr_default.png" class="img-circle" width="20"/>{{user_name}}
                    </li>

                    <li>
                        <a href="/logout" >
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div id="nav">
        <ul>
            <li class="active"><a href="#">项目管理</a></li>
            <!--<li><a href="#">版本评估</a></li>-->
            <!--<li><a href="/version_predict?project={{project_name}}">预测工具</a></li>-->
            
        </ul>
    </div>
    <div class="main-content">
        <div class="container" style="min-height:400px;">
            <div class="row">
                <div id="target">
                    
                    <ul class="bread-crumb">
                        <li><a>项目管理</a></li>
                    </ul>
                </div>
                <div class="main-wrapper">
                    <button type="button" class="btn btn-lg btn-default" id="btn-create-project" onclick="jQuery('#modal-project-create').modal('show')"><i class="fa fa-plus"></i>新建项目</button>
                    <br/><br/>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>项目名称</th>
                                <th>创建日期</th>
                                <th>项目密码</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <!--{% for pro in projects %} <option value="{{ ele }}">{{ ele }}</option> {% endfor %}-->
                        {% for pro, t, pass in projects %}
                        <tr>
                            <td><a href="/version_manage?project={{ pro }}">{{ pro }}</a></td>
                            <td>{{ t }}</td>
                            <td>{{ pass }}</td>
                            <td>
                                <a href="#" class="btn-rename"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="btn-delete"  onclick = "project_delete('{{ pro }}')"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <input type="hidden" id="project_delete_val" />
                </div>
            </div><!--row-->
        </div><!--container-->
        <footer class="main">
            Copyright&copy; 2009-2017 Maixun Online
        </footer>
    </div><!--main-content-->
</div>
<!-- 弹窗 modal fade-->

<div class="modal fade" id="modal-project-rename">
    <div class="modal-dialog">
        <div class="modal-content" >
            <form role="form" class="form-horizontal validate" method="post" id="form1">  {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">重命名项目</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 col-sm-offset-1 control-label">项目名称：</label>
                            <div class="col-sm-6">
                                <input class="form-control" value="美赞臣的自然分类" name="projectName" data-validate="required"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-white" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-blue">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-project-create">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" class="form-horizontal validate" method="post" id="form2" action = "/project_new/">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">新建项目</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 col-sm-offset-1 control-label">项目名称：</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="newProjectName" name="newProjectName" data-validate="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="field-1" class="col-sm-3 col-sm-offset-1 control-label">项目密码：</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="newProjectPassword" name="newProjectPassword" data-validate="required"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-white" data-dismiss="modal">取消</button>
                    <button class="btn btn-blue" type="submit" onclick = "new_project()">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-delete-confirm">
    <div class="modal-dialog">
        <div class="modal-content" >
            <!--<div class="form-horizontal">-->
            <form role="form" class="form-horizontal" method="post" id="form3"> {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">删除确认</h4>
                </div>

                <div class="modal-body">
                    <div class="alert alert-danger">确认删除？<strong>本操作无法撤销。</strong></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-white" data-dismiss="modal">取消</button><button class="btn btn-blue" onclick = "project_delete_ensure()" >确认</button>
                </div>
            <!--</div>-->
            </form>
        </div>
    </div>
</div>
<script src="/static/js/gsap/main-gsap.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/resizeable.js"></script>
<script src="/static/js/neon-custom.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script>

    function  new_project(){
        var newProjectName = $("newProjectName").val()
        var new_project_password = $("newProjectPassword").val()
        var post_data = {'newProjectName' : newProjectName, 'newProjectPassword' :  new_project_password};
         $.post("/project_new/", post_data, function(data) {
             if (data == 'false') {
                 alert('新建项目失败');
             }
         });
    }

    function project_delete(project){
        $("#project_delete_val").val(project);
    }
    function project_delete_ensure(){
         var post_data = {};
         post_data["project_delete_name"] = $("#project_delete_val").val();
         $.post('/project_delete/', post_data,
             function (data) {
                 if (data == 'false') {
                     alert('删除项目失败');
                 }
             }
         );
    }
    $(document).ready(function () {

        $(".btn-rename").click(function(){
            $("#modal-project-rename").modal("show");
        });

        $(".btn-delete").click(function(){
            $("#modal-delete-confirm").modal("show");
        });
    });
</script>
</body>
</html>